h1 {
	font-family: 'Century Gothic';
	font-weight: 100;
	color: #baf8e6;
}

h3 {
	color: #363636;
	max-width: 250px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

p {
	color: #727272;
}

a {
	color: #1eaa8c;
	text-decoration: none;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.samebg {
	background: linear-gradient(to right, #34e89e 0%, #0f3443 100%);
}

.understicky {
	position: absolute;
	top: 191px;
}

.cg {
	font-family: 'Century Gothic';
}