h1 {
	font-weight: 100;
}

h3 {
	color: #363636;
	max-width: 220px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 100;
	margin-bottom: 0.5rem;
	
}

p {
	color: #727272;
}

a {
	color: #137752;
	text-decoration: none;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.understicky {
	margin-top: 270px;
}

.cg {
	font-family: 'Century Gothic','Arial';
}

::placeholder { 
	opacity: 0.5; 
}